certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
dnspython==2.1.0
idna==2.10
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
requests==2.25.1
Sublist3r==1.0
urllib3==1.26.4
